<html>
	<header>
		<style type="text/css">
		h1 {
			font-family: Georgia, serif;
			font-style: italic;
			color: #fff659;
			letter-spacing: -.5pt;
			font-size: 200%;
		}

		body {
			color: #999;
			background-color: #000;
			font-size: 2em;
			font-family: sans-serif;
		}

		a {
			color: #999;

		}

		a:hover {
			background-color: #fff659;
			color: #000;
			text-decoration: none;
		}

		#container
		{
			text-align: left;
			width: 60%;
			margin-top: 10%;
			margin-left: auto;
			margin-right: auto;
			display: block;
		}

		#content {
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 35px;
			width: 100%;
			line-height: 125%;
			word-wrap: break-word;
		}

		.fa {
		    width: 48pt;
		    height: 48pt;
		    line-height: 40pt;
		    font-size: 20pt;
		    text-decoration: none;
		    background-color: #2e2e2e;
		    color: #f2ebe3;
		    border: 4pt solid #2e2e2e;
		    border-radius: 100%;
		    display: inline-block;
		    text-align: center;
		    -webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
		}

		.fa:hover {
		    background-color: #fff659;
		    border: 4pt solid #fff659;

		}

		@media only screen and (max-device-width: 480px) {
			body {
				font-size: 3em;
			}

			.fa {
				width: 88pt;
				height: 88pt;
				line-height: 80pt;
				font-size: 60pt;
			}		
		}

		</style>
	</header>
	<body>
		<div id="container">
			<h1>What's for dinner?</h1>
			<% if (!user) { %>
				<h2>Welcome! Please <a href="/auth/foursquare">log in</a>.</h2>
				
			<% } else { %>
				Hello, <%= user._doc.name %>!
				<p>
					Let's try again <%- suggestion %>
				</p>
				<p>
					<br /><a href="/city">Browse by city</a> | <a href="/logout">Logout </a>
				</p>
			<% } %>
		</div>

	</body>
</html>
