<% if (!user) { %>
	<h2>Welcome! Please <a href="/auth/foursquare">log in</a>.</h2>
<% } else { %>
	Hello, <%= user._doc.name %>!

	<p>
		Recently you've been to <%- recent %>.
	</p>

	<p>
		Let's try again <%- suggestion %>
	</p>

<% } %>